@media all and (max-width: 1285px) {
    .project {
        height: 19.7em;
    }
    .project .info {
        padding: 3em 1em;
        flex-basis: auto;
    }
    .project .info .description {
        display: none;
    }
    .project .info .description-short {
        display: inline-block;
        max-width: 30em;
    }
    .project .info .d-s-span {
        display: block;
    }

    .mission .info {
        flex-basis: 80%;
    }
}

@media all and (max-width: 1024px) {
    body {
        padding: 1.4em;
    }

    .footer {
        flex-direction: row;
        padding: 1.7em 0;
    }

    .signature {
        text-align: right;
    }

    .qualifying-stage .info {
        flex-basis: 75%;
    }
    .qualifying-stage .info .title {
        margin-top: 3em;
    }
    .qualifying-stage .pattern {
        flex-basis: 25%;
        background-size: 335%;
    }
    .qualifying-stage {
        height: 16em;
    }

    .test{
        height: 30em;
    }

    .news-block {
        display: none;
    }
    .news-block-mobile {
        display: flex;
    }

    .mission {
        flex-direction: column;
    }

    .mission .info {
        flex-basis: auto;
    }

    .mission .pattern {
        height: 8em;
        background-size: 32%;
        flex-basis: auto;
        border-top: 1px solid var(--light);
    }

    .mission .pattern:before {
        display: none;
    }

}

@media all and (max-width: 900px) {
    .header {
        height: 11em;
    }
    .short-header {
        height: auto;
    }
    

    .short-header .header-title {
        height: 4em;
    }

    .menu {
        padding-top: 0,5em;
    }

    .language {
        display: none;
    }
    .language-short {
        display: inline;
    }


}

@media all and (max-width: 834px) {
    .message {
        width: 17em;
    }
    .managers .title .name {
        flex-basis: 50%;
    }
    
    
}

@media all and (max-width: 700px) {
    body {
        padding: 0.7em;
    }
    .fixed-menu {
        right: 0.7em;
        font-size: 0.7em;
    }

    .header {
        height: 8.4em;
    }

    .header p, .menu li {
        font-size: 0.7em;
    }

    .short-header {
        height: auto;
    }

    .short-header .header-title {
        height: 3em;
    }
    

    .footer {
        display: block;
        padding: 1.5em 0 1em;
        font-size: 0.7em;
    }

    .signature {
        text-align: left;
        padding-top: 1em;
    }
    .qualifying-stage .info {
        font-size: 0.7em;
    }

    .qualifying-stage {
        height: 11.5em;
    }

    .test{
        height: 14em;
    }
    .test .info .title {
        margin-top: 1em;
    }

    .terminal .prompt {
        font-size: 0.7em;
    }
    
    .terminal::-webkit-scrollbar {
        width: 0.8em;
    }

    .news-block-mobile {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .news-block-mobile .pattern {
        flex-basis: auto;
        height: 3.8em;
        background-image: none;
        border-top: 1px solid var(--light);
    }
    .news-block-mobile .news {
        flex-basis: auto;
        height: 25em;
        order: -1;
        font-size: 0.7em;
    }

    .news-block-mobile .news .title {
        padding: 0.5em 1em;
    }

    .news-block-mobile .news-cards {
        background-image: linear-gradient(rgb(255, 255, 255) 33%, rgba(255,255,255,0) 0%);
        background-position: left;
        background-size: 0.07em 1.1em;
        background-repeat: repeat-y;
    }

    .news-block-mobile .news-cards > div {
        min-height: 12em;
        padding: 1em 1em;
    }

    .news-block-mobile .news .news-cards .p-container {
        height: 7em;
    }

    .news-block-mobile .pattern:before {
        background-repeat: repeat-x;
        background-size: 40%;
    }
    .project {
        font-size: 0.7em;
        height: 16em;
    }

    .project .pattern {
        display: none;
    }
    .project .info {
        padding: 0;
        flex-basis: auto;
    }
    .project .info .title {
        flex-direction: column;
    }


    .managers {
        font-size: 0.7em;
    }

    .managers .title {
        margin-bottom: 1em;
    }
    .managers .title .name {
        flex-basis: 50%;
        padding: 0.5em 1em;
    }
    .managers .title .pattern {
        background-size: cover;
    }

    .mission {
        font-size: 0.7em;
    }
}

@media all and (max-width: 520px) {
    .menu {
        display: none;
    }
    .fixed-menu {
        display: block;
        top: 1em;
    }
    .header-title {
        width: 100%;
    }

    .qualifying-stage .info {
        flex-basis: 100%;
        background-image: url(../images/test-mobile.svg);
        background-size: 46%;
        background-repeat: no-repeat;
        background-position: right top;
    }

    .qualifying-stage .pattern {
        display: none;
    }

    .qualifying-stage .info .time {
        display: none;
    }

    .qualifying-stage .info .time-mobile {
        display: block;
    }

    .project {
        height: 19em;
    }

    .project .info .title .logo {
        width: 100%;
        height: 5em;
    }

    .mission .pattern {
        background-size: 72%;
    }
    
}

@media all and (max-width: 375px) {
    .header {
        height: 6.4em;
    }

    .short-header {
        height: 4.4em;
    }
}