:root {
    --dark: #121212;
    --light: #EAEAEA;
  }

html, body {
    background-color: var(--dark);
    font-family: "Consolas";
    font-size: 26px;
    color: var(--light);
    transition: ease all .5s;
    height: 5000px;
    min-width: 375px;
}


a {
    color: var(--light);
}

.fixed-menu {
    display: none;
    position: fixed;
    height: 1em;
    right: 2.1em;
    width: 4.5em;
    text-align: right;
    padding-right: 0.3em;
    background-color: var(--light);
    color: var(--dark);
    font-weight: bold;
    z-index: 2;
}

.dropdown-content {
    display: none;
    height: 4em;
    right: 2.1em;
    width: 4.5em;
    text-align: right;
    cursor: pointer;
    z-index: 2;
    
}
.dropdown-content li {
    height: 1em;
    width: 4.5em;
    padding-right: 0.3em;
}

.dropdown-content li:hover {
    background-color: var(--light);
}

.dropdown-content li:hover a {
    color: var(--dark);
}

.dropdown-content li a {
    color: var(--light);
}

.fixed-menu:hover .dropdown-content{
    display: block;
}

body {
    padding: 2.1em;
}

.header {
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    height: 14em;
    font-weight: bold;
    position: relative;
    transition: ease all .5s;
}

.header-title {
    padding-top: 0.5rem;
    display: inline-block;
    white-space: pre-wrap;
    font-size: 0.5em;
}

.menu {
    float: right;
    text-align: right;
    padding-top: 1em;
}

.menu li {
    height: 1em;
    text-align: right;
    cursor: pointer;
    user-select: none;
}

.menu li:hover {
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: var(--light);
}

.menu li:hover a {
    color: var(--dark);
}

.header p {
    position: absolute;
    bottom: 0;
    padding-bottom: 1em;
}


.message {
    width: 25em;
}

.language {
    right: 0;
    cursor: pointer;
    user-select: none;
}

.language-short {
    right: 0;
    cursor: pointer;
    display: none;
    user-select: none;
}
