/* qualifying-stage */

.qualifying-stage {
    height: 19.2em;
    display: flex;
}

.qualifying-stage .info {
    flex-basis: 50%;
    padding: 1em 0;
    position: relative;
}

.qualifying-stage .info .time {
    display: block;
    font-weight: bold;
    width: 100%;
}

.qualifying-stage .info .time-mobile {
    display: none;
}

.qualifying-stage .info .title {
    margin-top: 4em;
    background-color: var(--light);
    color: var(--dark);
    display: inline-block;
    font-weight: bold;
    padding: 0.1em 0.2em;
}

.qualifying-stage .info .description {
    margin-right: 1em;
    margin-top: 1em;
}

.qualifying-stage .info a {
    position: absolute;
    bottom: 1em;
    font-style: italic;
}

.qualifying-stage .pattern {
    flex-basis: 50%;
    background-image: url('../images/test-desktop.svg');
    background-size: 100%;
    background-position:bottom right;
}

/* news block */

.news-block {
    display: flex;
    /* display: none; */
    height: 18.2em;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
}

.news-block .pattern {
    flex-basis: 8.8em;
    background-image: linear-gradient(rgb(255, 255, 255) 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 0.07em 1.1em;
    background-repeat: repeat-y;
    position: relative;
}

.news-block .pattern:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/sote-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.news-block .news {
    flex-grow: 1;
    position: relative;
}

.news-block .news .title {
    background-color: var(--light);
    color: var(--dark);
    font-weight: bold;
    padding: 0.7em 1em;
    
}

.news-block .news .news-cards {
    height: 87%;
    overflow-x: auto;
    position: absolute;
    top: 2.4em;
    right: 0;
    left: 0;
    display: flex;
    background-image: linear-gradient(rgb(255, 255, 255) 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 0.07em 1.1em;
    background-repeat: repeat-y;
}

.news-block .news .news-cards div{
    height: 100%;
    min-width: 17.5em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgb(255, 255, 255) 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 0.07em 1.1em;
    background-repeat: repeat-y;
}

.news-block .news .news-cards div .news-title {
    font-weight: bold;
    margin-bottom: 1em;
}

.news-block .news .news-cards div .readmore {
    font-style: italic;
    font-weight: bold;
}

.news-cards::-webkit-scrollbar {
    height: 1.5em;
    width: 1.5em;
}
 
.news-cards::-webkit-scrollbar-track {
    background-color: var(--dark);
    border: 2px solid var(--light);
}
 
.news-cards::-webkit-scrollbar-thumb {
  background-color: var(--light);
}

/* .news-block-mobile */

.news-block-mobile {
    display: none;
    height: 26em;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
}

.news-block-mobile .pattern {
    flex-basis: 25%;
    background-image: linear-gradient(rgb(255, 255, 255) 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 0.09em 1.1em;
    background-repeat: repeat-y;
    position: relative;
}

.news-block-mobile .pattern:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/sote-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.news-block-mobile .news {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
}

.news-block-mobile .news-cards {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.news-block-mobile .news-cards > div {
    min-height: 9em;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--light);
}

.news-block-mobile .news .title {
    background-color: var(--light);
    color: var(--dark);
    font-weight: bold;
    padding: 0.7em 1em;
}

.news-block-mobile .news .news-cards div .news-title {
    font-weight: bold;
    margin-bottom: 1em;
}

.news-block-mobile .news .news-cards div .readmore {
    font-style: italic;
    font-weight: bold;
}

.news-block-mobile .news .news-cards .p-container {
    height: 3em;
    overflow: hidden;
}



.news-cards-mobile::-webkit-scrollbar {
    height: 1.5em;
    width: 1.5em;
}
 
.news-cards-mobile::-webkit-scrollbar-track {
    background-color: var(--dark);
    border-left: 2px solid var(--light);
    border-right: 2px solid var(--light);
}
 
.news-cards-mobile::-webkit-scrollbar-thumb {
  background-color: var(--light);
}














/* project block */

.project {
    display: flex;
    height: 24em;
    transition: .5s ease-in all;
}

.project .info {
    flex-basis: 66%;
    position: relative;
    padding: 3em 2em;
}

.project .pattern {
    flex-basis: 34%;
    background-image: linear-gradient(rgb(255, 255, 255) 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 0.08em 1em;
    background-repeat: repeat-y;
    position: relative;
}

.project .pattern:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/sote-pattern-desktop-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.project .info .title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: unset;
}

.project .info .title .logo {
    width: 14em;
    height: 3em;
    background-repeat: no-repeat;
    background-image: url(../images/rosmars-logo-white.svg);
    background-size: contain;
    display: inline-block;
    margin-right: 1em;
}

.project .info .title span {
    float: right;
}

.project .info .description {
    margin-top: 1em;
}

.project .info .description-short {
    display: none;
    max-width: 30em;
    max-height: 7em;
    margin-bottom: 1em;
    overflow: hidden;
    margin-top: 1em;
}
.project .info .d-s-span {
    display: none;
}


/* managers */

.managers {
    display: flex;
    flex-direction: column;
}

.managers .title {
    display: flex;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    margin-bottom: 2em;
}

.managers .title .name {
    padding: 0.7em 1em;
    background-color: var(--light);
    color: var(--dark);
    font-weight: bold;
    flex-basis: 33%;
}

.managers .title .pattern {
    flex-grow: 1;
    background-image: url(../images/kirpich.svg);
}

.managers .managers-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.managers .managers-list .manager {
    padding: 0.5em 0;
}