.clothes {
    display: flex;
    flex-wrap: wrap;
}







.item {
    position: relative;
    flex-basis: calc(100%/3);
    padding-top: 40%;
    
}

.item-content {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    overflow: hidden;
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    background-image: linear-gradient(rgb(255, 255, 255) 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 0.07em 1.1em;
    background-repeat: repeat-y;
}

.item:last-child {
    background-image: none;
}

.item .info {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    opacity: 1;
    transition: 0.2s ease all;
}

.item .title {
    position: absolute;
    color: var(--dark);
    height: 2em;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    background-color: var(--light);
    z-index: 2;
    padding: 0.5em 1em;
}


.item .info .name {
    display: block;
    margin-bottom: .7em;
    margin-right: .7em;
}

.item .info .cost {
    background-color: var(--light);
    color: var(--dark);
    padding: 0.1em 0.4em;
    font-weight: bold;
}

#item-pattern {
    background-image: url('../images/shop-pattern1.svg');
    background-size: contain;
    background-position: top left;
}

.item:hover {
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.male .item:nth-child(1):hover {
    background-image: url('../images/clothes/t-shirt.jpg');
}

.male .item:nth-child(2):hover {
    background-image: url('../images/clothes/hoody.png');
}

.male .item:nth-child(4):hover {
    background-image: url('../images/clothes/t-shirt-2.png');
}

.male .item:nth-child(5):hover {
    background-image: url('../images/clothes/hoody.png');
}

.male .item:nth-child(6):hover {
    background-image: url('../images/clothes/t-shirt-3.png');
}


.female .item:nth-child(1):hover {
    background-image: url('../images/clothes/fem-t-shirt.jpg');
}

.female .item:nth-child(2):hover {
    background-image: url('../images/clothes/hoody.png');
}

.female .item:nth-child(4):hover {
    background-image: url('../images/clothes/fem-t-shirt-2.jpg');
}

.female .item:nth-child(5):hover {
    background-image: url('../images/clothes/hoody.png');
}

.female .item:nth-child(6):hover {
    background-image: url('../images/clothes/t-shirt-3.png');
}

#item-pattern {
    background-color: var(--dark);
    background-repeat: repeat;
}

.item:hover .info{
    opacity: 0;
}

/* .female .item-content {
    background-position: left;
} */

/* .female .item:nth-child(4) .item-content {
    background-image: none;
} */



@media all and (max-width: 1100px) {
    
    .item {
        flex-basis: calc(100%/2);
        padding-top: 60%;  
    }

    .item:nth-child(even) .item-content{
        background-position: left;
    }


}

@media all and (max-width: 700px) {
    
    .item {
        font-size: 0.7em;
    }


}

@media all and (max-width: 520px) {

    .item {
        flex-basis: 100%;
        padding-top: 120%;  
    }
    .item .item-content {
        border: 1px solid var(--light);
        background-image: none;
    }

    .item:nth-child(2) .title {
        display: none;
    }

    .item .info {
        bottom: 1em;
        left: 0.7em;
    }
}